.header{transition:var(--transition-1);z-index: 1;}
.header .navbar-toggler{border: 0 !important;}
.header .nav-link{margin-top: -10px;}
.header .nav-link,.header .dropdown-item{transition:var(--transition-1);}
.header .dropdown-toggle::after{display: none;}
.header .dropdown-item:hover{background-color:transparent;}
.header .dropdown-menu{background-color:var(--alpha-bg);}
.header .nav-link:hover,.header .dropdown-item:hover,.header .nav-link span:hover{color: var(--Primary) !important;}
.header .header-logo{
    width: 132px;
    height: 132px;
    margin-top: -30px;
    margin-right: 35px;
}
.header .btn-contact{
    margin-top:-5px;
    border: 1px solid var(--Primary) !important;
    background-color: transparent !important;
    color: var(--white) !important;
    transition: var(--transition-1);
}
.header .btn-contact:hover{
    background-color: var(--Primary) !important;
    color: var(--white) !important;
}
.header .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom:10px;
    background-color: var(--Primary);
    width: 100%;
    transform: scale(0);
    transform-origin: center;
    height: 0;
    transition: var(--transition-1);
}
.header .nav-link:hover::after{height: 2px;transform: scale(1);}
.header .nav-link:last-of-type::after{width: 0;height: 0;}
@media (max-width:1140px){
    .header .header-logo{width: 110px;height: 110px;}
    .header .nav-link,.header .btn-contact{font-size: var(--p-14);}
}
@media (max-width:1020px) {
    .header .header-logo{
        width: 100px;
        height: 100px;
        margin-top: -22px;

    }
    .header .nav-link,.header .btn-contact{font-size: 13px;}
}
@media (max-width:992px){
    .header .header-logo{margin-top: -20px;}
    .header .nav-link{margin-top: 10px;}
    .header .btn-contact{margin-bottom: 10px;}
    .header .hamburger-react{margin-top: -10px;}
}
@media (max-width:991px),
(min-width:991px) and (max-width:991.5px) {
    .header .nav-link{font-size: var(--p-16) !important;}
    .header .nav-link:hover:after{height: 0;}
    .header .nav-container{
        background-color: var(--alpha-bg);
        backdrop-filter: blur(10px);
        padding: 0 20px;
    }
    .header .header-logo{margin: 10px 0 0 10px;}
    .header .hamburger-react{margin-top: 20px;}
}
@media (max-width:991px) {
    .header .nav-link{margin-left: 20px;}
    .header .nav-container{padding: 0;}
}
