.footer{
    background-color:var(--footer-bg);
    padding: 20px 0 50px 0;
    overflow: hidden;
}
.footer .footer-logo{width: 132px;height: 132px;}
.footer .footer-title h3{font-size: var(--p-24);margin-bottom: 20px;}
.footer .footer-nav a{
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    transition: var(--transition-1);
    margin-bottom: 5px;
}
.footer .footer-nav a:hover,.footer .social-icon:hover{color: var(--Primary);}
.footer .social-icon:hover{transform: scale(1.1);}
.footer  .email-icon{
    color: var(--Primary);
    width: 25px;
    height: 25px;
}
.footer .phone-icon{font-size: var(--p-18);color: var(--Primary);}
.footer .footer-last-sec{border-top:1px solid var(--white);}
.footer .copy-right{font-size: var(--p-14);}
.footer .social-icon{
    font-size: 25px;
    margin-left: 25px;
    cursor: pointer;
    transition: var(--transition-1);
}
.footer .footer-bg{
    height: 35px;
    margin-top: -25px;
    background-color: var(--footer-bg)
}
@media  (max-width:767px),
(min-width:767px) and (max-width:767.5px){
    .footer{padding-bottom: 0;}
    .footer .footer-logo{width: 110px;height: 110px;}
    .footer .container-md{padding: 20px 20px 0 20px;}
    .footer .footer-contact p{margin-top: -10px !important;}
    .footer .footer-last-sec{ border: none;}
    .footer .footer-icons{position: absolute;top: -250px;right: 0;}
    .footer .social-icon{margin-bottom: 20px;font-size: 30px;}
}
@media (max-width:280px) {
    .footer .footer-title p{font-size: var(--p-18)}
}
